<!DOCTYPE HTML>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=${charset}" />
		<link rel="stylesheet" href="${webix-cssfile}" type="text/css" charset="${charset}">
		<script src="${webix-jsfile}" type="application/javascript" charset="${charset}" ></script>

		<title>Defining the items and their dependencies</title>

		<script type="text/javascript" charset="${charset}">
		var treeList;
		webix.ready(function(){
			treeList = new webix.ui({
				container: "bdDefinitionCanvas",
				view: "datatable",
				columns: [
					{ id:"description", header:"Item"},
					{ id:"failureMode", header:"Required By", width: 150}
				],

				editable: false,
				autoheight: true,
				autowidth: true,
				url: "${bdDefinitionLoadUrl}",
				datatype: "json"
			});
		});
		webix.attachEvent("onBeforeAjax", function(mode, url, data, request, headers){
  			headers["Accept"] = "application/json";
		})

		</script>
	</head>
	<body id="body">
		<script>
		addRowFunc = function() {
		var xmlHttp = null;
		try {
			xmlHttp = new XMLHttpRequest();
			if (xmlHttp) {
				xmlHttp.open('POST', '${addItemUrl}', false);
				xmlHttp.onreadystatechange = function () {
					if (xmlHttp.readyState == 4) {
						alert(xmlHttp.responseText);
					}
				};
				xmlHttp.send();
			}
		} catch(e) {
			alert('exception: '+e);
		}
		}
		</script>

		<!-- <div id="bdDefinitionCanvas"></div> -->

		<table id="films">
			<tr><th>Description</th><th>Failure Mode</th></td>
		    <tr>
		        <td width="40">id</td>
		        <td width="200">Film title</td>
		        <td width="80">Release year</td>
		    </tr>
		</table>

		<form >
			<button id="addRow" onclick="addRowFunc()">Add entry</button>
			<button id="RemoveLine">Remove selected entry</button>
		</form>
	</body>
</html>
