<!DOCTYPE HTML>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=${charset}" />
		<link href="/staticfiles/editor.css" rel="stylesheet" type="text/css" />
		<script src="/staticfiles/ckeditor/ckeditor.js"></script>

		<title>Editing item ${itemid}</title>
	</head>
	<body id="body">

		<p><h1>Mitigations</h1>
			Please describe how any unacceptable risks will be mitigated.
			Please only put in things that you actually plan to do, not everything you could think of.
			<form action="/ItemList/${itemid}/${field}" id="form" method="POST" >
				<label id="label_${field}" for="input_${field}">Please describe possible mitigations</label>
				<textarea id="input_${field}" required autofocus cols="80" rows="10" name="${field}"
					minlength="${minlength}" maxlength="${maxlength}">$!{item.getMitigations()}</textarea>
				<button id="reset" type="reset">Reset</button>
				<button id="submit" type="submit">Submit</button>
			</form>

			<script>
			    // Replace the <textarea id="editor1"> with a CKEditor
			    // instance, using default configuration.
			    CKEDITOR.replace( 'input_${field}' );
			</script>

#parse( "currentinput.html" )
	</body>
</html>
