<!DOCTYPE HTML>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=${charset}" />
		<link href="/staticfiles/editor.css" rel="stylesheet" type="text/css" />
		<script src="/staticfiles/ckeditor/ckeditor.js"></script>

		<title>Editing item ${itemid}</title>
	</head>
	<body id="body">

		<p><h1>Consequences</h1>
			Please describe all possible things that could happen if this component fails.
			Please do not just list usual consequences but everything that could possibly go wrong.
			Be creative.
			<form action="/ItemList/${itemid}/${field}" id="form" method="POST" >
				<label id="label_${field}" for="input_${field}">Please describe consequence</label>
				<textarea id="input_${field}" required autofocus cols="80" rows="10" name="${field}"
					minlength="${minlength}" maxlength="${maxlength}">$!{item.getConsequences()}</textarea>
				<button id="reset" type="reset">Reset</button>
				<button id="submit" type="submit">Submit</button>
			</form>

			<script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'input_${field}' );
            </script>

#parse( "currentinput.html" )
	</body>
</html>
