<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Quick start with Tree</title>
    <link rel="stylesheet" type="text/css" href="/staticfiles/treetest.css">
</head>
<body>

#macro( printTree $currTree )
<li>
	<a href="#">$tree.getData().toString()</a>
	#if(!$currTree.isLeaf())
	<ul>
		#foreach( $child in $currTree.getChildren() )
			#printTree($child)
		#end
	</ul>
	#end
</li>
#end

<div class="tree">
<ul>
#printTree($tree)
</ul>
</div>

</body>
</html>
