<!DOCTYPE HTML>
<html>
    <head>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="/staticfiles/webix/webix.css" type="text/css" charset="utf-8">
		<script src="/staticfiles/webix/webix.js" type="text/javascript"></script>
		<script type="application/javascript" charset="utf-8">
		var pengfunc = function() {alert("value: "+webix.ui.datatable.collectValues("name"));}

		window.onload = function() {
			 dtable = new webix.ui({
		        container:"tablecanvas",
		        view:"datatable",
				columns: [
					{ id:"name", header:"Name",   width:100, editor:"text"},
					{ id:"joiner",  header:"Joiner", width:80, editor:"richselect", options:["None","AND", "OR"]},
					{ id:"children", header:"Children", width:200, editor:"text"},
					{ id:"comment", header:"Comment", width:200, editor:"text"}
				],

				editable:true,
				autoheight:true,
				autowidth:true,
				save:"/FaultList",
				datatype: "json",

				data:[
					{ name:"Bad stuff", joiner:"AND",children:"Event 1, Event 2, Event 3"},

					{ name:"Event 1", joiner:"",children:""},
					{ name:"Event 2", joiner:"OR",children:"Event 2.1, Event 2.2"},
					{ name:"Event 3", joiner:"",children:""},

					{ name:"Event 2.1", joiner:"",children:""},
					{ name:"Event 2.2", joiner:"",children:""}
				]
			});
		};


		</script>
    </head>

    <body>
		<div id="tablecanvas" style='width:900px; height:450px; '></div>
		<form><input id="submit" type="button" value="Submit" onclick="submitData();" /></form>
	</body>
</html>
