<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Fault Tree</title>
	<link rel="stylesheet" href="/staticfiles/webix/webix.css" type="text/css" charset="utf-8">
    <script src="/staticfiles/webix/webix.js" type="application/javascript" charset="utf-8" ></script>

<script type="text/javascript" charset="utf-8">
	window.onload = function(){
		webix.ready(function(){
			var orgChart = new webix.ui({
				container:"bodycanvas",
				view:"organogram",
				select: false,
				borderless: true,
				url: "/FaultTree/json?treeid=42",
				datatype: "json"
			});
		});
	};
</script>

</head>
<body id="bodycanvas">
</body>
</html>
