<!DOCTYPE HTML>
<html>
    <head>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="/staticfiles/webix/webix.css" type="text/css" charset="utf-8">
		<script src="/staticfiles/webix/webix.js" type="text/javascript"></script>
		<script type="application/javascript" charset="utf-8">
		window.onload = function() {
			webix.ready(function(){
				var dtable = new webix.ui({
			        container:"bodycanvas",
			        view:"datatable",
					columns: [
						{ id:"name", header:"Name",   width:100, editor:"text"},
						{ id:"joiner",  header:"Joiner", width:80, editor:"richselect", options:["None","AND", "OR"]},
						{ id:"children", header:"Children", width:200, editor:"text"},
						{ id:"comment", header:"Comment", width:200, editor:"text"}
					],

					editable:true,
					autoheight:true,
					autowidth:true,
					save:"/FaultList?treeid=42",
					url: "/FaultList/json?treeid=42",
					datatype: "json"
				});
			});
		};
		</script>
    </head>

    <body id="bodycanvas">
	</body>
</html>
