<!DOCTYPE HTML>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Homepage</title>
		<link rel="stylesheet" href="/staticfiles/webix/webix.css" type="text/css" charset="utf-8">
		<script src="/staticfiles/webix/webix.js" type="application/javascript" charset="utf-8" ></script>

		<!-- Fault Tree -->
		<script type="text/javascript" charset="utf-8">
			var faultTree;
			webix.ready(function(){
				faultTree = new webix.ui({
					container:"treecanvas",
					view:"organogram",
					select: false,
					borderless: true,
					url: "/FaultTree/json?treeid=42",
					datatype: "json"
				});
			});

			//Keep fault tree up to date
			window.setInterval(function(){ faultTree.clearAll(); faultTree.load("/FaultTree/json?treeid=42"); }, 5000);

			// Fault list
			var faultList;
			webix.ready(function(){
				faultList = new webix.ui({
					container:"tablecanvas",
					view:"datatable",
					columns: [
						{ id:"rowid", header:"id", width:30},
						{ id:"name", header:"Name", width:100, editor:"text"},
						{ id:"joiner", header:"Joiner", width:80, editor:"richselect", options:["None","AND", "OR"]},
						{ id:"children", header:"Children", width:200, editor:"text"},
						{ id:"comment", header:"Comment", width:200, editor:"text"}
					],

					editable:true,
					autoheight:true,
					autowidth:true,
					save:"/FaultList",
					url: "/FaultList/json?treeid=42",
					datatype: "json"
				});
			});
		</script>
    </head>
    <body>

		<p><div id="treecanvas" style='width:900px; height:350px; '></div>
		<p><div id="tablecanvas" style='width:900px; height:350px; '></div>

		<form>
			<button id="addLine">Add entry</button>
			<button id="RemoveLine">Remove selected entry</button>
			<input id="submit" type="submit" value="Submit" onclick="submitData();" />
		</form>
    </body>
</html>
