<!DOCTYPE HTML>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=${charset}" />
		<link rel="stylesheet" href="${webix-cssfile}" type="text/css" charset="${charset}">
		<script src="${webix-jsfile}" type="application/javascript" charset="${charset}" ></script>

		<title>Probability Calculator</title>

		<script type="text/javascript" charset="${charset}">
			webix.attachEvent("onBeforeAjax", function(mode, url, data, request, headers){
	  			headers["Accept"] = "application/json";
			})

			//Keep fault tree up to date
			window.setInterval(function(){
				probCalc.clearAll();
				probCalc.load("${probsLoadUrl}?treeid=${treeid}");
			}, 5000);
		</script>
    </head>
    <body>
		<p><script type="text/javascript" charset="${charset}">
			probCalc = new webix.ui({
				view:"datatable",
				columns: [
					{ id:"rowid", header:"id", width:30},
					{ id:"name", header:"Name", width:100},
					{ id:"prob", header:"Probability", width:100, validate:webix.rules.isNumber, editor:"text",
					  on:{ "onChange":function() {
						  alert('validation');
					        //either validate the whole form
					        this.getParentView().validate();
					        //or validate this element only
					        this.validate();
						}}
					},
					{ id:"comment", header:"Comment", width:200}
				],

				editable:true,
				autoheight:true,
				autowidth:true,
				save:"${probsSaveUrl}?treeid=${treeid}",
				url: "${probsLoadUrl}?treeid=${treeid}",
				datatype: "json"
			});
		</script>
    </body>
</html>
