<!DOCTYPE HTML>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Homepage</title>
		<link rel="stylesheet" href="/staticfiles/webix/webix.css" type="text/css" charset="utf-8">
		<script src="/staticfiles/webix/webix.js" type="application/javascript" charset="utf-8" ></script>

		<!-- Fault Tree -->
		<script type="text/javascript" charset="utf-8">
			var faultTree;
			webix.ready(function(){
				faultTree = new webix.ui({
					container:"treecanvas",
					view:"organogram",
					select: false,
					borderless: true,
					url: "/FaultTree/json?treeid=${treeid}",
					datatype: "json"
				});
			});

			//Keep fault tree up to date
			window.setInterval(function(){
				faultTree.clearAll();
				faultTree.load("/FaultTree/json?treeid=${treeid}");
				faultList.clearAll();
				faultList.load("/FaultList/json?treeid=${treeid}");
			}, 5000);

			// Fault list
			var faultList;
			webix.ready(function(){
				faultList = new webix.ui({
					container:"tablecanvas",
					view:"datatable",
					columns: [
						{ id:"rowid", header:"id", width:30},
						{ id:"name", header:"Name", width:100, editor:"text"},
						{ id:"joiner", header:"Joiner", width:80, editor:"richselect", options:["None","AND", "OR"]},
						{ id:"children", header:"Children", width:200, editor:"text"},
						{ id:"comment", header:"Comment", width:200, editor:"text"}
					],

					editable:true,
					autoheight:true,
					autowidth:true,
					save:"/FaultList?treeid=${treeid}",
					url: "/FaultList/json?treeid=${treeid}",
					datatype: "json"
				});
			});

		</script>
    </head>
    <body>
		<script>
	addRowFunc = function() {
		var xmlHttp = null;
		try {
		    xmlHttp = new XMLHttpRequest();
			if (xmlHttp) {
				// xmlHttp.open('GET', 'http://localhost:8080/TreeEditor?treeid=42', false);
			    // xmlHttp.open('GET', 'file:///tmp/blub.html', false);
				xmlHttp.open('POST', '/FaultList/AddRow?treeid=42', false);
			    xmlHttp.onreadystatechange = function () {
			        if (xmlHttp.readyState == 4) {
			            alert(xmlHttp.responseText);
			        }
			    };
			    xmlHttp.send();
			}
		} catch(e) {
			alert('exception: '+e);
		}
	}
		</script>
		<p><div id="treecanvas" style='width:900px; height:350px; '></div>
		<p><div id="tablecanvas" style='width:900px; height:350px; '></div>

		<form >
			<input type="hidden" name="treeid" value="${treeid}" />
			<button id="addRow" onclick="addRowFunc()">Add entry</button>
			<button id="RemoveLine">Remove selected entry</button>
		</form>
    </body>
</html>
