<!DOCTYPE HTML>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>List of Trees</title>
		<link rel="stylesheet" href="/staticfiles/webix/webix.css" type="text/css" charset="utf-8">
		<script src="/staticfiles/webix/webix_debug.js" type="application/javascript" charset="utf-8" ></script>

		<script type="text/javascript" charset="utf-8">
		var treeList;
		webix.ready(function(){
			treeList = new webix.ui({
				container:"treelistcanvas",
				view:"datatable",
				columns: [
					{ id:"rowid", header:"id", width:30},
					{ id:"name", header:"Name", width:100},
					{ id:"link", header:"Edit"}
				],
				// data: [{ 'rowid':'1', 'name':'pengbumm', 'link':'<a href="/TreeEditor?treeid=42">Edit</a>' }],

				editable:false,
				autoheight:true,
				autowidth:true,
				url: "/",
				datatype: "json"
			});
		});
		webix.attachEvent("onBeforeAjax", function(mode, url, data, request, headers){
  			headers["Accept"] = "application/json";
		})

		//Keep tree list up to date
		window.setInterval(function(){
			treeList.clearAll();
			treeList.load("/");
		}, 5000);

		</script>
	</head>
	<body id="treelistcanvas">

	</body>
</html>
